
<div th:replace="~{article/_head.html}"></div>
<script>

    document.addEventListener('DOMContentLoaded', function (){

        const ano = `[[${articleDTO.ano}]]`;
        console.log('ano : ' + ano);

        // 댓글 목록 출력
        const commentList = document.getElementsByClassName('commentList')[0];
        const empty = commentList.getElementsByClassName('empty')[0];

        // 댓글 요청
        fetch(`/sboard/comments/${ano}`)
            .then(response => response.json())
            .then(data => {
                console.log(data);

                for(const comment of data) {
                    const commentArticle = `<article>
								                <span class="nick">${comment.writer}</span>
								                <span class="date">${comment.wdate}</span>
								                <p class="content">${comment.content}</p>
								                <div>
								                    <a href="#" class="remove">삭제</a>
								                    <a href="#" class="modify">수정</a>
								                </div>
								            </article>`;

                    commentList.insertAdjacentHTML('beforeEnd', commentArticle);
                    empty.remove();
                }

            })
            .catch(err => {
                console.log(err);
            });

        // 댓글 쓰기
        const form = document.commentForm;
            form.addEventListener('submit', function (e){
            e.preventDefault();

            const jsonData = {
                "ano": form.ano.value,
                "writer": form.writer.value,
                "content": form.content.value,
            };

            fetch(`/sboard/comment`,{
                method: 'POST',
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(jsonData)
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    const commentArticle = `<article>
								                <span class="nick">${data.nick}</span>
								                <span class="date">${data.wdate}</span>
								                <p class="content">${data.content}</p>
								                <div>
								                    <a href="#" class="remove">삭제</a>
								                    <a href="#" class="modify">수정</a>
								                </div>
								            </article>`;

                    commentList.insertAdjacentHTML('beforeEnd', commentArticle);
                    empty.remove();

                    // 폼 초기화(입력했던 데이터 비우기)
                    form.reset();
                })
                .catch(err => {
                    console.log(err);
                });
        });
    });

</script>

        <main id="article">
            <section class="view">
                <nav>
                    <h1>글보기</h1>
                </nav>
                <table border="0">                    
                    <tr>
                        <th>제목</th>
                        <td><input type="text" name="title" th:value="${articleDTO.title}" readonly/></td>
                    </tr>
                    <tr>
                        <th>작성자</th>
                        <td><input type="text" name="writer" th:value="${articleDTO.writer}" readonly/></td>
                    </tr>
                    <tr th:if="${articleDTO.file_cnt > 0}">
                        <th>파일</th>
                        <td>
                            <th:block th:each="file:${articleDTO.fileList}">
                                <p><a th:href="@{/file/download(fno=${file.fno})}">&#11;[[${file.oname}]]</a>&nbsp<span>[[${file.download}]]</span>회 다운로드</p>
                            </th:block>
                        </td>
                    </tr>
                    <tr>
                        <th>내용</th>
                        <td>
                            <textarea name="content" readonly>[[${articleDTO.content}]]</textarea>
                        </td>
                    </tr>                    
                </table>
                
                <div>
                    <a href="#" class="btn btnRemove">삭제</a>
                    <a href="./modify.html" class="btn btnModify">수정</a>
                    <a th:href="@{/article/list}" class="btn btnList">목록</a>
                </div>

                <!-- 댓글목록 -->
                <section class="commentList">
                    <h3>댓글목록</h3>
                    <p class="empty">등록된 댓글이 없습니다.</p>
                </section>

                <!-- 댓글쓰기 -->
                <section class="commentForm">
                    <h3>댓글쓰기</h3>
                    <form name="commentForm" method="post">
                        <input type="hidden" name="ano" th:value="${articleDTO.ano}">
                        <input type="hidden" name="writer" th:value="${#authentication.principal.user.usid}">
                        <textarea name="content" placeholder="댓글내용 입력"></textarea>
                        <div>
                            <a href="#" class="btn btnCancel">취소</a>
                            <input type="submit" value="작성완료" class="btn btnComplete"/>
                        </div>
                    </form>
                </section>

            </section>
        </main>
<div th:replace="~{article/_tail.html}"></div>